# Скопируйте этот файл в .env и заполните значения
# НЕ загружайте .env на GitHub!

BOT_TOKEN=ВАШ_ТОКЕН_ОТ_BOTFATHER
SUPABASE_URL=https://zykqqqtjedsvegtvrapz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5a3FxcXRqZWRzdmVndHZyYXB6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNjMxNTksImV4cCI6MjA5MTYzOTE1OX0.h93e9I9jN3iPlqSl1lVyfvLYbzpY_NeJsEWk26tLOZs
